{
  "presets": [
    "es2015",
    "react",
    "next/babel"
  ],
  "plugins": [
    "styled-jsx/babel",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-runtime"
  ]
}